.board {
    display: flex;
    flex-direction: column;
    outline: none;
    padding: 10px;
}

.board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}