$menu-items: 5;
$width: (100/$menu-items) * 1%;

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.header {
  text-align: center;
}

.title {
  margin-bottom: 0px;
}
.subtitle {
  margin-top: 0px;
  font-size: 15px;
}

button {
  background-color: white;
  font-family: inherit;
  font-size: 1em;
  margin: 10px 5px;
  border-style: solid;
  border-radius: 3px;

  &:hover {
    border-color:#1aa6b7;
    border-style: solid;
    border-radius: 3px;
  }
}

select {
  background-color: white;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1em;
  padding: 1px 20px;
  margin: 10px 5px;
}