$item-size: calc(70vh / 20);

.square {
    width: $item-size;
    height: $item-size;
    margin: 1px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s ease-out;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@media only screen and (max-width: 750px) {
    $item-size: calc(80vw / 20);

    .square {
        width: $item-size;
        height: $item-size;
    }
}